#start_date, #end_date {
    width: 50%;
}
#start_time, #end_time {
    width: 48%;
}
#ulTabs {
    font-weight: 700;
    font-size: 20px;
}
.carousel-inner {
    width: 90%;
    margin: auto;
}
.carousel button {
    width: 30px;
}