<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Предиктивная аналитика</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "../static/css/predict.css">
    <script src="../static/libs/jquery-3.7.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
</head>
<body>
<div class="row container-fluid">
    <div class="col-3 border-end border-secondary-subtle p-4">
        <div class="mb-3">
            <h4>Выберите объект</h4>
            <select class="form-select" id="selectObjs"></select>
        </div>
        <div class="mb-4">
            <h4>Выберите устройство</h4>
            <select class="form-select" id="selectDevs"></select>
        </div>
        <div class="mb-3">
            <h4>Диапазон прогнозирования</h4>
            <div class="mb-3">
                <label class="form-label">Прогноз начиная с даты последнего сигнала этого устройства:</label>
                <div class="w-100 d-flex justify-content-center">
                    <input class="form-control w-75" readonly="readonly" id="start_date">
                </div>
            </div>
            <div class="mb-3">
                <label class="w-75 form-label">Период времени</label>
                <div class="w-75 mx-auto">
                    <label class="d-flex justify-content-center form-label">Дни : Часы : Минуты</label>
                    <input type="time" class="d-flex justify-content-center form-control" step="1" data-bs-toggle="tooltip" data-bs-placement="top" title="Период должен быть кратен 30 минутам" id="period_time">
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-lg btn-primary mx-auto d-block" id="start">Запрос</button>
    </div>
    <div class="col-9">
        <h4 class="text-center mt-3" id="nameDev"></h4>
        <div class="border border-secondary-subtle border-top-0 py-4 mb-3">
            <div class="carousel slide" data-bs-theme="dark" id="volCar">
                <div class="carousel-inner">
                    <h6>Напряжение</h6>
                    <div class="carousel-item active">
                        <div class="row mx-auto">
                            <div class="col" style="background-color: orange; height: 15px"></div>
                            <p class="col">Predict</p>
                            <div class="col" style="background-color: #A52A2A; height: 15px"></div>
                            <p class="col">Нормальный диапазон</p>
                        </div>
                        <div class="row mx-auto">
                            <div class="col" style="min-width: 490px">
                                <p id="charge_f"></p>
                                <p id="discharge_f"></p>
                            </div>
                        </div>
                        <canvas id="calcCanvas1"></canvas>
                    </div>
                    <div class="carousel-item">
                        <div class="row mx-auto">
                            <div class="col" style="background-color: #4682B4; height: 15px"></div>
                            <p class="col">Исходные данные</p>
                            <div class="col" style="background-color: #A52A2A; height: 15px"></div>
                            <p class="col">Нормальный диапазон</p>
                            <div class="col" style="background-color: #6B8E23; height: 15px"></div>
                            <p class="col">Сглаживающие</p>
                        </div>
                        <canvas id="canvas1"></canvas>
                    </div>
                </div>
                <button type="button" class="carousel-control-prev" data-bs-target="#volCar" data-bs-slide="prev">
                    <div class="carousel-control-prev-icon" aria-hidden="true"></div>
                </button>
                <button type="button" class="carousel-control-next" data-bs-target="#volCar" data-bs-slide="next">
                    <div class="carousel-control-next-icon" aria-hidden="true"></div>
                </button>
            </div>
        </div>
        <div class="border border-secondary-subtle border-top-0 px-4 py-4">
            <h6>Температура</h6>
            <div>
                <div class="row mx-auto" style="width: 620px">
                    <div class="col" style="background-color: orange; max-width: 30px; height: 15px"></div>
                    <p class="col" style="font-size: 14px">Predict</p>
                    <div class="col" style="background-color: #A52A2A; max-width: 30px; height: 15px"></div>
                    <p class="col" style="font-size: 14px">Нормальный диапазон</p>
                </div>
                <canvas id="calcCanvas2"></canvas>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="../static/js/predict.js"></script>
</body>
</html>